# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.8

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    #### TEMPLATE_NOTE: go expects specific checkout path representing url
    #### expecting it in the form of
    ####   /go/src/github.com/circleci/go-tool
    ####   /go/src/bitbucket.org/circleci/go-tool
    working_directory: /go/src/github.com/kryptn/modulario
    steps:
      - run: |
          GCSDK=google-cloud-sdk-167.0.0-linux-x86_64.tar.gz
          curl -sSL -o google-cloud-sdk.tar.gz https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/$GCSDK
          tar -xvzf google-cloud-sdk.tar.gz
          sh google-cloud-sdk/install.sh
      - run: echo $GCLOUD_SERVICE_KEY | base64 --decode --ignore-garbage > ${HOME}/gcp-key.json
      - run: export GOOGLE_APPLICATION_CREDENTIALS=${HOME}/gcp-key.json
      - run: gcloud auth activate-service-account --key-file ${HOME}/gcp-key.json
      - checkout

      # specify any bash command here prefixed with `run: `
      - run: go get -v -t -d ./...
      - run: go test -v #./...
      - run: go build -o modulario
      - setup_remote_docker

      # build and push Docker image
      - run: |
          TAG=0.1.$CIRCLE_BUILD_NUM
          docker build -t modulario/app:$TAG -f infra/Dockerfile .
      # docker login -u $DOCKER_USER -p $DOCKER_PASS
      # docker push modulario/app:$TAG
      # docker push modulario/app:latest