# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2.0

jobs:
  setup:
    machine:
      enabled: true
    working_directory: /
    steps:
      - run: echo "just running"
  build:
    docker:
      - image: google/cloud-sdk:167.0.0
    working_directory: /go/src/github.com/kryptn/modulario
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install Docker client
          command: |
              set -x
              VER="17.03.0-ce"
              curl -L -o /tmp/docker-$VER.tgz https://get.docker.com/builds/Linux/x86_64/docker-$VER.tgz
              tar -xz -C /tmp -f /tmp/docker-$VER.tgz
              mv /tmp/docker/* /usr/bin
      - run:
          name: Build Container
          command: |
              TAG=0.1.$CIRCLE_BUILD_NUM
              docker build -t modulario/app -f infra/Dockerfile .
          # this is where docker login -- use google creds
  deploy:
    docker:
      - image: google/cloud-sdk:167.0.0
    working_directory: /go/src/github.com/kryptn/modulario
    steps:
      - checkout
      - run:
          name: Decrypt creds
          command: |
              openssl aes-256-cbc -d -in secrets/key.enc -k $ENC_KEY > ~/key.json
              gcloud auth activate-service-account --key-file ~/key.json


workflows:
  version: 2
  build-test-and-deploy:
    jobs:
      - setup
      - build:
          requires:
            - setup
      - deploy:
          requires:
            - build
          context: org-global
